<!-- Title System -->
<% phc_title "Property Listing Manager" %>
<% phc_title_tagline "New Property Listing" %>
<% phc_breadcrumb_one link_to "Property" %>
<% phc_breadcrumb_two link_to "Listings" %>
<% phc_breadcrumb_three yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_two) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_three) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->
			
<!-- Page Content -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<div class="panel-heading-btn">
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		</div>
		<h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
	</div>
	<div class="panel-body">
      <!-- New Form Property Listings -->
		<%= render 'form', property_listing: @property_listing %>
      <!-- New Form Property Listings -->
	</div>
</div>
<!-- Page Content -->
