<!-- Title System -->
<% phc_title "Property Listing Manager" %>
<% phc_title_tagline "Property Listing Details" %>
<% phc_breadcrumb_one link_to "Property" %>
<% phc_breadcrumb_two link_to "Listings" %>
<% phc_breadcrumb_three yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">

	<!-- Button Panel -->
	<div class="col-lg-4">

		<div class="panel panel-inverse">
			<div class="panel-heading text-center">
				<h4 class="panel-title">Options Panel</h4>
			</div>
			<div class="panel-body">

				<div class="btn-group d-flex" role="group">
					<%= link_to 'Update', phcdevworks_real_estate.edit_property_listing_path, class: "btn btn-primary" %>
					<%= link_to 'Remove', phcdevworks_real_estate.property_listing_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
				</div>		

			</div>
		</div>

	</div>
	<!-- Button Panel -->

	<!-- Main Panel -->
	<div class="col-lg-8">

	</div>
	<!-- Main Panel -->

</div>
<!-- Page Content -->
