<!-- Form - Property - Features -->
<%= form_with(model: property_feature, local: true) do |phc_pro_property_feature| %>

    <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @property_feature %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group">
        <%= phc_pro_property_feature.label :property_feature_name, "Feature Name" %>
        <%= phc_pro_property_feature.text_field :property_feature_name, placeholder: "Feature Name", class: "form-control" %>
    </div>
    <!-- Form Input Fields -->

    <!-- Form Submition Button -->
    <div class="actions">
        <%= phc_pro_property_feature.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Property - Features -->
